/*    
    --clr-main: #45880e;
    --clr-main-light: #73ff00;
    --clr-white: #fff7e5;
    --clr-gray: #e2e2e2;
    --clr-green: #316b0a; 
    --clr-red: #961818;
*/
.header-mobile .logo {
    display: none;
}

#open-menu {
    display: none; 
}

#close-menu {
    display: none; 
}

body {
    background-color: var(--clr-green, #316b0a); 
}

main {

    background-color: var(--clr-white, #fff7e5); 
    margin: 10px auto; 
    max-width: 90%; 
    padding: 20px; 
    border-radius: 10px; 
    height: auto;
}

main {
    margin-right: 26%; 
    margin-left: 1%;
}

aside.aside-visible {

    position: fixed; 
    top: 0; 
    right: 0; 
    width: 25%; 
    height: 100vh; 
}

aside.aside-visible header {
    color: var(--clr-white);
    display: flex; 
    justify-content: center;
    align-items: flex-start; 
    width: 100%; 
    margin-top: 20px; 
}

aside.aside-visible nav {
    margin-left: 10px;
    display: flex;
    flex-direction: column; 
    width: 90%; 
    height: 100%; 
    margin-top: 20%; 
}

.boton-menu {
    background-color: transparent; 
    border: none; 
    padding:20px 40px; 
    color: var(--clr-white);
    width: 100%; 
    text-align: left; 
}

.boton-menu:hover{
    border-radius: 8px;
    background-color: var(--clr-white); 
    color: var(--clr-green); 
}

aside nav ul li {
    margin-bottom: 10%; 
}

aside nav ul{
    margin-top: 200px;
}

#titulo-principal {
    position: relative; 
    padding: 20px; 
    color: var(--clr-green); 
}

footer {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    text-align: left;
    padding: 10px; 
}

/* Productos */

.producto{
    margin-bottom: 20px;
    margin: 20px;
    border-radius: 10px;
    display: inline-block;
    /*border: solid black 1px;*/
}

.producto img{
    border-radius: 20px 20px 0 0;
}
.producto-detalles{
    /*border: solid black 1px;*/
    border-radius: 0px 0px 20px 20px;
    background-color: var(--clr-green);
    color: var(--clr-white);
    padding: 20px;

}
.producto-agregar{
    background-color: var(--clr-white);
    border: none;
    border-radius: 100px;
    padding: 20px;
    display: block; 
    margin: 0 auto;
    width: 100%;
}